<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About me</title>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static '/css/styles10.css' %}">
    </head>
<body>
     <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/">
         <img src="{% static '/css/images/varfit.png' %}" style="width:50px">
        </a>
        <a href="Goals">About Me</a> <a href="blog">Blog</a>  <a href="projects">Projects</a><a href="/">Home</a>
    </nav>
    <div>
        <div id="profile">
            <img src="{% static '/css/images/IMG-1126.JPG' %}"> 
            <div>
                Hey there! Im Vick! Currently a fullstack freelance
                Developer in search for a <br> Web Developer position in Seattle, WA! <br>
                <br>
                Im very active online developing and networking so please feel free to reach out to my email  <br>
                or linkedin for questions or collaberative work!
            </div> 
        </div>

        <div id="personal_info">
            <a href="">v.shindano@gmail.com </a> 
            <a href="https://www.linkedin.com/in/vick-shindano-845143142/ "> <img src="{% static '/css/images/linkedin.png' %}" id="linkedin"></a>
            <a href="https://github.com/vick119">  <img src="{% static '/css/images/github.png' %}" id="git"> </a>
        </div> 
        <hr>
            <h3>Tech skills</h3>
            <table style="width: 70%">
                <th>
                    <li>Pthon
                    <li>C#
                    <li>JavaScript
                </th>
                <th>
                    <li>Mango
                    <li>Node Js
                    <li>DB Browser
                </th>
                <th>
                    <li>Django
                    <li>.Net
                    <li>React Js
                </th>
                <th>
                    <li>AWS
                    <li>Azure
                    <li>GCP
                </th>
            </table>
            <hr>
        <h3> Goals</h3>
        <div id="goals">
            <ul>
                <li><h5>Bachelors in Computer Science </h5></li>
            It's been a long journey in college one that I am determine to finish in 2024, mostley becuase I have leanerd <br>
            how to learn. Growing up though never diagsosed but I now know I had a learning disaorder. I could never <br>
            pay attention for more than 3 minutes and never understood what was being taught nor did I care to ask for further <br>
            help. The mixture of being new to most schools I attended and having to learn English in the process of <br>
            of understading all the concepts being taught at school made it really tough to successed in school. <br>
            Having committed my entire life to continue in education because I know how important it is and being <br>
            the first born in a first generation African American family. There has always been a healthy pressure <br>
            to finish college and achieve my bachlors in computer science so that hoperfuly the 12 others and counting <br>
            behind can follow in the same path.
            </ul>
            <ul>
                <li><h5> Product Management </h5></li>
            Product Management is my career goal. With the knowlodge of web development and working <br>
            with user experience to build applications based on data and what a customer wants. I love <br>
            working with people and interacting with them in order to build a functionable product that they <br>
            love. I feel that that's the job of a product manager to communicate with the customers, designers, <br>
            and engineers to build a product that solves the customers problem.
            </ul>
        </div>
        <hr>
        <h3>Education</h3>
        <div id="education">
            <ul>
                <li> <h5>Coding Dojo</h5></li> 
                - Full Stack Web Development
            </ul>
            <ul>
                <li> <h5>Cascadia Communit College </h5></li>
                - Associates in Computer Science
            </ul>
            <ul>
                <li><h5>Everett Community College </h5></li>
                - Prequesites in business and adminastration 
            </ul>
        </div>
        <hr>
        <h3>Background</h3>
        <div id="footer">
            <ul>
                <li> <h5>Africa </h5></li>
            I was born In Congo and my family moved to Tanzania which is located in East Africa. <br>
            This move was to run from war and in search of a better oppurtunity and a better way of life. <br>
            In Tanzania we lived in a refugee camp for about 7 years before the oppurtunity to come to <br>
            the United States presented itself through immigration.
            </ul>
            <ul>
                <li> <h5>Faith</h5></li>
            Faith is the one thing that got my family from a third world country to now having the oppurtunity <br>
            to become a software Engineer. The church we belong to is called Christadelphian which we have been <br>
            apart of since before I was born and I don't know where my family would be without the support and <br>
            love of the christadelphian community.
            </ul>
            <ul>
                <li> <h5>Family</h5></li>
            Without family I dont know where I would be. They love, motivate, entertain and irritate me. <br> 
            What more could I ask for from a group of people that I care and love so much.
            </ul>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-light">
            <a href="https://www.linkedin.com/in/vick-shindano-845143142/"> <img src="{% static '/css/images/linkedin.png' %}" id="linkedin"></a>
            <a href="https://github.com/vick119">  <img src="{% static '/css/images/github.png' %}" id="git"> </a>  
        </nav>
    </div> 
</body>